# macOS
.DS_Store

.vscode/

# --- API ---

api/venv/

# Secrets
api/*.p8
api/*.env
api/.env.*


# --- UI ---

ui/node_modules
ui/.output
ui/.vercel
ui/.netlify
ui/.wrangler
ui/.svelte-kit
ui/build

# Vite
ui/vite.config.js.timestamp-*
ui/vite.config.ts.timestamp-*